<section class="span12">
   
    {{ include "home/_info" }}
    <hr>
    {{ include "home/_farma-calc" }}
    <hr>
    <section id="carousel">
       <div id="headerCarousel" class="slide">
          <!-- v. 2.3.1
          <ol class="carousel-indicators">
            <li data-target="#headerCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#headerCarousel" data-slide-to="1"></li>
            <li data-target="#headerCarousel" data-slide-to="2"></li>
          </ol> -->
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item row-fluid">
              <div class="span5">
                <h2>Ferramenta de Autoria FARMA</h2>
                  <p>Ferramenta de Autoria para a Remediação de erros com Mobilidade na Aprendizagem.</p>
                  <p>
                    Construa Objetos de Aprendizagem para o ensino de matemática
                  </p>
                  <p>
                    <a href="https://farma.educacional.mat.br" target="_blank">Conheça a FARMA</a>
                  </p>
              </div>

              <div class="span7">
                <img src="/assets/headers/farma-carousel-header-01.jpg" alt="Matemática" class="img-rounded" />
              </div>

              <!--<div class="carousel-caption">
                <h4>Third Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in,
                   egestas eget quam. Donec id elit non mi porta
                  gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div> -->
            </div>

            {{!-- <div class="item">
              <div class="span3 offset1">
                <h2>Fractais</h2>
                  <p>Utilize os conceitos matemáticos intrísicos dos fracteis para criar objetos de aprendizagem que
                    estimulem a abastração do aprendiz.
                  </p>
              </div>
              <div class="span8">
                <img src="/assets/headers/farma-carousel-header-02.jpg" alt="Matemática" />
              </div>
            </div> --}}

            {{!-- <div class="item">
              <div class="span3 offset1">
                <h4>Construa OAs para:</h4>
                <ul>
                  <li>Matemática</li>
                  <li>Física</li>
                  <li>Química</li>
                <ul>
              </div>
              <div class="span8">
                <img src="/assets/headers/farma-carousel-header-03.jpg" alt="Matemática" />
              </div>
            </div> --}}
          </div>

          <!-- Carousel nav -->
          {{!-- <a class="carousel-control left" href="#headerCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#headerCarousel" data-slide="next">&rsaquo;</a> --}}
       </div>
    </section>

    <hr>
    <div class="row-fluid">
        <div class="span6">
          {{ include "home/_objectives" }}
        </div>
        <div class="span6">
          {{ include "home/_contact" }}
        </div>
    </div>

    <hr>

    <footer id="footer" class="copyright">
      {{ include "home/_team" }}

      <div class='center'>
        <p>Projeto Desenvolvido no Programa de Pós-Graduação de Ensino de Ciência e Tecnologia<br>
        Universidade Tecnológica Federal do Paraná UTFPR.</p>
      </div>
    </footer>
    
</section>
