<td>{{name}} <div class="date-info">{{email}}</div></td>
<td>{{exercise}}</td>
<td>{{question}}</td>
<td>{{response}}</td>
<td>{{correct}}</td>
<td>{{created_at}}</td>
<td>{{attempt_number}}</td>
<td>{{number_of_retroaction}}</td>
